{% extends '::base.html.twig' %}
{% form_theme delete_form 'bootstrap_3_layout.html.twig' %}
{% block body -%}
    <div class="col-md-12">
        <h1>Test edit</h1>
        {#{{ dump(entity) }}
        {{ dump(themeNotAssociate) }}
        {{ dump(themeAssociate) }}
        {{ dump(numberOfQuestionForAssociateTheme)}}
        {{ form(edit_form) }} #}
        <form name="eni_qcm_bundle_formateurbundle_test" enctype="multipart/form-data" method="post" action="/ProjetQCM/web/app_dev.php/test/1" accept-charset="UTF-8">
            <input type="hidden" name="_method" value="POST">
            
            <div id="eni_qcm_bundle_formateurbundle_test">
                <div class="form-group">
                    <label class="control-label required" for="eni_qcm_bundle_formateurbundle_test_name">Name</label>
                    <input type="text" id="eni_qcm_bundle_formateurbundle_test_name" name="eni_qcm_bundle_formateurbundle_test[name]" required="required" maxlength="50" class="form-control" value="{{ entity.name }}">
                </div>
                {# {{ form(image_form) }} #}
                <div class="form-group">
                    <label class="control-label required" for="img">Image illustration</label>
                    <input type="file" name="img" >
                </div>
                <div class="form-group">
                    <label class="control-label required">Timepassing</label>
                    <div id="eni_qcm_bundle_formateurbundle_test_timepassing" class="form-inline">
                        <select id="eni_qcm_bundle_formateurbundle_test_timepassing_hour" name="eni_qcm_bundle_formateurbundle_test[timepassing][minute]" class="form-control">
                            {% set minutes = [] %} 
                            {% for i in 0..59%}
                               {% set minutes = minutes|merge([i]) %}
                            {% endfor %}
                            {% for minute in minutes%}
                                <option value="{{minute}}" {%if minute == entity.timepassing|date('i') %}selected="selected"{%endif%}>{%if minute < 10 %}0{%endif%}{{minute}}</option>
                            {% endfor %}
                        </select>:
                        <select id="eni_qcm_bundle_formateurbundle_test_timepassing_minute" name="eni_qcm_bundle_formateurbundle_test[timepassing][second]" class="form-control">
                            {% set seconds = [] %} 
                            {% for i in 0..59%}
                               {% set seconds = seconds|merge([i]) %}
                            {% endfor %}
                            {% for second in seconds%}
                                <option value="{{second}}" {%if second == entity.timepassing|date('s') %}selected="selected"{%endif%}>{%if second < 10 %}0{%endif%}{{second}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="eni_qcm_bundle_formateurbundle_test_description">Description</label>
                    <input type="text" id="eni_qcm_bundle_formateurbundle_test_description" name="eni_qcm_bundle_formateurbundle_test[description]" maxlength="2048" class="form-control" value="{{ entity.description }}">
                </div>
                <div class="form-group">
                    <label class="control-label required" for="eni_qcm_bundle_formateurbundle_test_step1">Step1</label>
                    <input type="text" id="eni_qcm_bundle_formateurbundle_test_step1" name="eni_qcm_bundle_formateurbundle_test[step1]" required="required" class="form-control" value="{{ entity.step1 }}">
                </div>
                <div class="form-group">
                    <label class="control-label required" for="eni_qcm_bundle_formateurbundle_test_step2">Step2</label>
                    <input type="text" id="eni_qcm_bundle_formateurbundle_test_step2" name="eni_qcm_bundle_formateurbundle_test[step2]" required="required" class="form-control" value="{{ entity.step2 }}">
                </div>
                <div class="form-group">
                    <label class="control-label" for="eni_qcm_bundle_formateurbundle_test_themeid">Themeid</label>
                    <select id="eni_qcm_bundle_formateurbundle_test_themeid" name="eni_qcm_bundle_formateurbundle_test[themeidNotAssociate][]" class="form-control" multiple="multiple">
                        {% for theme in themeNotAssociate %}
                            <option value="{{theme.id}}">{{theme.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                {% if themeAssociate %}
                    <h2>Paramaters Theme</h2>
                {% endif %}
                {% set i = 0 %}
                {% for theme in themeAssociate %}
                    <br>
                    <div class="form-group">
                        <a href="{{ path('section_delete', {'idTest': entity.id, 'idTheme': theme.id }) }}" class="btn btn-danger no-margin pull-right">
                            Delete
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                        <label class="control-label required">{{theme.name}}</label><br>
                        <label class="control-label required" for="eni_qcm_bundle_formateurbundle_test_theme">Number of question asked :</label>
                        <input type="number" id="eni_qcm_bundle_formateurbundle_test_themeidAssociate" name="eni_qcm_bundle_formateurbundle_test[themeidAssociateNumberOfQuestionAsked][{{theme.id}}]" required="required" class="form-control" value="{{numberOfQuestionForAssociateTheme[i].numberofquestionsasked}}">
                    </div>
                    
                    {% set i = i+1 %}
                {% endfor %}
                <br>
                <br>
                <div class="form-group">
                    <button type="submit" id="eni_qcm_bundle_formateurbundle_test_submit" name="eni_qcm_bundle_formateurbundle_test[submit]" class="btn-default btn">Update</button>
                </div>
                <input type="hidden" id="eni_qcm_bundle_formateurbundle_test__token" name="eni_qcm_bundle_formateurbundle_test[_token]" class="form-control" value="eL-glgxsJk9xKXudIGaVtEbpGKbKck6NsQaDKKtzjsc">
            </div>
        </form>
        <a href="{{ path('test') }}" class="btn btn-primary no-margin">
            Back to the list
            <span class="glyphicon glyphicon-list" aria-hidden="true">
            </span>
        </a>
        <br>
        <br>
        {{ form(delete_form) }}
    </div>
{% endblock %}
