<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="{{ asset('public/css/bootstrap.css') }}">

            <!-- Optional theme -->
            <link rel="stylesheet" href="{{ asset('public/css/bootstrap-theme.min.css') }}">
            
            <!-- Personnal theme -->
            <link rel="stylesheet" href="{{ asset('public/css/style.css') }}">
            
        {% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="container">
        {% if app.user.username  is defined %}
            {% if is_granted('FORMATEUR') %}
                I'm a Formateur<br>
                {{ app.user.username }}<br>
            {% elseif is_granted('STAGIAIRE')%}
                I'm a Stagiaire<br>
                {{ app.user.username }}<br>
            {% else %}
                I'm other type<br>
                {{ app.user.username }}<br>
                {{ app.user.roles[0] }}
                {% if app.user.roles[0] == "STAGIAIRE" %}
                    yes, stagiaire
                {% endif %}
            {% endif %}
        {% endif %}
        
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
