{% extends '::base.html.twig' %}

{% block body -%}
    <div class="col-md-12">
        <h1>Theme list</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                  <th>Name</th>
                  <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('theme_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                        <td>
                            <a href="{{ path('theme_show', { 'id': entity.id }) }}">
                                <button type="button" class="btn btn-info no-margin">
                                    Show
                                    <span class="glyphicon glyphicon-align-left" aria-hidden="true">
                                    </span>
                                </button>
                            </a>
                            <a href="{{ path('theme_edit', { 'id': entity.id }) }}">
                                <button type="button" class="btn btn-success no-margin">
                                    Edit
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true">
                                    </span>
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('theme_new') }}">
            <button type="button" class="btn btn-success no-margin">
                Create
            <span class="glyphicon glyphicon-plus" aria-hidden="true">
            </span>
            </button>
        </a>
    </div>
    

    {% endblock %}
